### Research Questions
<p><b>What is the exact demegraphic most at risk for covid19 in Toronto?</b></p> 
To find this we'll need to produce graphs of Age, Gender, and if they were hospitalized.

In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
import sys, os
sys.path.insert(0, os.path.abspath('..'))
from scripts import project_functions as sc
path = "C:\\Users\\matta\\Documents\\UBCO 20-21\\Data 301\\course-project-group_6022\\data\\raw\\COVID19 cases Toronto.csv" 
df = sc.ez_format(path)
df

,Age_Group,Source_of_Infection,Episode_Date,Reported_Date,Gender,Outcome,Ever_Hospitalized,Ever_in_ICU,Days_Since
0,50-59,Travel,2020-01-21,2020-01-23,MALE,Yes,No,No,0
1,50-59,Travel,2020-01-22,2020-01-23,FEMALE,No,No,No,0
2,20-29,Travel,2020-02-05,2020-02-21,FEMALE,No,No,No,29
3,50-59,N/A - Outbreak associated,2020-02-07,2020-04-13,MALE,No,No,No,81
4,70-79,Travel,2020-02-14,2020-03-01,FEMALE,No,No,No,38
...,...,...,...,...,...,...,...,...,...
13212,60-69,Close contact,2020-07-12,2020-06-28,FEMALE,No,No,No,157
13213,<19,Close contact,2020-07-12,2020-07-12,FEMALE,No,No,No,171
13214,30-39,Close contact,2020-07-12,2020-07-12,MALE,No,No,No,171
13215,30-39,Travel,2020-07-12,2020-07-12,MALE,No,No,No,171
13216,50-59,Unknown/Missing,2020-07-13,2020-07-13,FEMALE,No,No,No,172

In [5]:
#create a new data frame of values we care about
ndf = df.groupby(["Gender", "Age_Group", "Ever_Hospitalized"]).size().reset_index()
ndf = ndf.rename(columns  = {0:'D_Count'})
#drop those who were not hosplitalized, and then drop the hopitalized column. 
ndf = ndf.loc[ndf["Ever_Hospitalized"].str.contains("Yes")]
ndf = ndf.drop(["Ever_Hospitalized"], axis = 1)

#create a demographic column, combine gender and agegroup together
ndf.insert( 2,column = 'Demographic', value = (ndf['Gender'][:] + " " + ndf['Age_Group'][:]))
ndf = ndf.reset_index(drop = True)
ndf

         Gender Age_Group        Demographic  D_Count
0        FEMALE     20-29       FEMALE 20-29        5
1        FEMALE     30-39       FEMALE 30-39        6
2        FEMALE     40-49       FEMALE 40-49       10
3        FEMALE     50-59       FEMALE 50-59       31
4        FEMALE     60-69       FEMALE 60-69       34
5        FEMALE     70-79       FEMALE 70-79       26
6        FEMALE     80-89       FEMALE 80-89       24
7        FEMALE       90+         FEMALE 90+        2
8          MALE     20-29         MALE 20-29        5
9          MALE     30-39         MALE 30-39        3
10         MALE     40-49         MALE 40-49       25
11         MALE     50-59         MALE 50-59       53
12         MALE     60-69         MALE 60-69       67
13         MALE     70-79         MALE 70-79       57
14         MALE     80-89         MALE 80-89       14
15         MALE       90+           MALE 90+        2
16         MALE       <19           MALE <19        2
17  TRANSGENDER     60-69  TRANSGENDER 60-69        1
18      UNKNOWN     40-49      UNKNOWN 40-49        1

In [23]:
import seaborn as sns
from matplotlib import pyplot as plt
plt.figure(figsize=(5,5))
order = ndf.groupby(['D_Count'])
print(order)
sns.barplot(x ='D_Count', y = 'Demographic', data= ndf)

TypeError: attribute of type 'list' is not callable